Button{
  display: block;
  width: 25%;
  border: none;
  background-color: #808080;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

@keyframes Button {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

Button:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

section{
  padding: 50px;
  text-align: center;
}    
    body {
 background-image: url("https://i.ibb.co/k9Sc4Kb/Screen-Shot-2023-04-13-at-9-50-16-AM.png");
}

@media (max-width: 440px) {
  section{
    padding: 10px;
  }
}
